<div
  class="min-w-screen min-h-screen bg-teal-900 flex items-center justify-center px-5 py-5"
>
  <div
    class="w-full mx-auto rounded-xl shadow-xl text-grey-800 relative overflow-hidden"
    style="max-width: 350px"
  >
    <!-- Heading -->
    <h1 class="text-white text-center py-10 text-3xl font-bold">
      Angular Calculator
    </h1>

    <!-- Calculator screen -->
    <div
      class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 text-right"
    >
      <!-- Function screen -->
      <div class="w-full py-5 px-6 text-2xl text-white font-thin">Function</div>

      <!-- Number screen -->
      <div class="w-full py-5 px-6 text-6xl text-white font-thin">100</div>
    </div>

    <!-- Calculator button area -->
    <div class="w-full bg-gradient-to-b from-red-500 to-red-800">
      <!-- First button row -->
      <div class="flex w-full">
        <div class="w-2/4 border-r border-b border-red-400">
          <!-- clear button -->
          <button
            class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            C
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-50 text-xl font-light text-white"
          >
            %
          </button>
        </div>

        <!-- Multiplication button -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-50 text-2xl font-light text-white"
          >
            /
          </button>
        </div>
      </div>

      <!-- second row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl font-light text-white hover:bg-red-800"
          >
            7
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl font-light text-white hover:bg-red-800"
          >
            8
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl font-light text-white hover:bg-red-800"
          >
            9
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl font-light text-white hover:bg-red-800"
          >
            *
          </button>
        </div>
      </div>

      <!-- third row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl font-light text-white hover:bg-red-800"
          >
            4
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl font-light text-white hover:bg-red-800"
          >
            5
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl font-light text-white hover:bg-red-800"
          >
            6
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl font-light text-white hover:bg-red-800"
          >
            -
          </button>
        </div>
      </div>
      <!-- forth-row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl font-light text-white hover:bg-red-800"
          >
            1
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl font-light text-white hover:bg-red-800"
          >
            2
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl font-light text-white hover:bg-red-800"
          >
            3
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl font-light text-white hover:bg-red-800"
          >
            +
          </button>
        </div>
      </div>

      <!-- fifth row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700 bg-opacity-20 text-xl font-light text-white"
          >
            0
          </button>
        </div>
        <div class="w-1/4 border-r border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700 bg-opacity-20 text-4xl font-light text-white"
          >
            .
          </button>
        </div>
        <div class="w-1/4 border-r border-red-400">
          <button
            class="w-full h-16 outline-none hover:bg-red-700 bg-opacity-20 text-xl font-light text-white"
          >
            =
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
